[submodule "modules/roact"]
	path = "modules/roact"
	url = "https://github.com/Roblox/Roact"
[submodule "modules/roblox-lua-promise"]
	path = "modules/roblox-lua-promise"
	url = "https://github.com/evaera/roblox-lua-promise/"